
# Database
DATABASE_CLIENT=tobemodified
DATABASE_HOST=tobemodified
DATABASE_PORT=tobemodified
DATABASE_NAME=tobemodified
DATABASE_USERNAME=tobemodified
DATABASE_PASSWORD=tobemodified
DATABASE_SSL=false
# Uploads
# Upload
SUPABASE_API_URL=tobemodified
SUPABASE_API_KEY=tobemodified
SUPABASE_BUCKET=tobemodified
SUPABASE_DIRECTORY=